<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="HomeAccounting">
  <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/Home_account</property>
  <property name="hibernate.connection.username">postgres</property>
  <property name="hibernate.connection.password">postgres</property>
  <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.format_sql">true</property>
  <property name="hibernate.current_session_context_class">thread</property>
  <property name="hibernate.hbm2ddl.charset_name" >UTF-8</property>
  <mapping class="ru.redw4y.HomeAccounting.model.CashAccount"/>
  <mapping class="ru.redw4y.HomeAccounting.model.Income"/>
  <mapping class="ru.redw4y.HomeAccounting.model.IncomeCategory"/>
  <mapping class="ru.redw4y.HomeAccounting.model.Outcome"/>
  <mapping class="ru.redw4y.HomeAccounting.model.OutcomeCategory"/>
  <mapping class="ru.redw4y.HomeAccounting.model.Role"/>
  <mapping class="ru.redw4y.HomeAccounting.model.User"/>
 </session-factory>
</hibernate-configuration>
