<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="'Счет '+${cashAccount.name}"></title>
	<style>
		.button {
			display: inline-block;
			border: 1px solid rgb(0, 0, 0);
			color: rgb(0, 0, 0);
			padding: 0 12px;
			margin: 5px;
			text-decoration: none;
			background: #f2f2f2;
			font-size: 12pt;
			cursor: pointer;
		}

		.button:hover {
			background: #e6e6ff;
		}
	</style>
</head>
<body>
	<form th:method="PATCH" th:action="@{/cashAccounts}" th:object="${cashAccount}">
		<input type="hidden" th:field="*{id}">
		Имя: <input type="text" th:field="*{name}">
		<label th:if="${#fields.hasErrors('name')}" style="color:red" th:errors="*{name}" />
		<br>
		Баланс: <input type="text" th:field="*{balance}">
		<label th:if="${#fields.hasErrors('balance')}" style="color:red" th:errors="*{balance}" />
		<br>
		Учитывать в общем балансе: <input type="radio" th:field="*{containInGenBalance}" id="true" name="inGenBalance" value="true" checked/>
		<label for="true">Да</label>
		<input type="radio" th:field="*{containInGenBalance}" id="false" name="inGenBalance" value="false"/>
		<label for="false">Нет</label>
		<br>
		<input type="submit" value="Редактировать" class="button">
	</form>
	<form th:method="DELETE" th:action="@{/cashAccounts/{id} (id=${cashAccount.getId()})}">
		<input type="submit" value="Удалить" class="button">
	</form>
	<a th:href="@{/cashAccounts}" class="button">Назад</a>
</body>
</html>