<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Пользователи</title>
 <style>
      .button {
        display: inline-block;
			border: 1px solid rgb(0, 0, 0);
			color: rgb(0, 0, 0);
			padding: 0 12px;
			margin: 5px;
			text-decoration: none;
			background: #f2f2f2;
			font-size: 12pt;
			cursor: pointer;
      }
      .button:hover {background: #e6e6ff;}
    </style>
</head>
<body>
	<div th:each="user : ${users}">
		<form th:method="DELETE" th:action="@{users/{id} (id=${user.getId()})}">
			<label th:text="'Пользователь: Id = '+${user.getId()}+'   login - '+${user.getLogin()}+'   role - '+${user.getRole()}"/>
			<a th:href="@{users/{id} (id=${user.getId()})}" class="button">Редактировать</a>
			<input th:if="${user.getId()}!=${principalId}" type="submit" class="button" th:value="Удалить"/>
		</form>
	</div>
	<hr/>
	<a th:href="@{/menu}" class="button">Назад в меню</a>
</body>
</html>