<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Операции</title>
	<style>
		.button {
			display: inline-block;
			border: 1px solid rgb(0, 0, 0);
			color: rgb(0, 0, 0);
			padding: 0 12px;
			margin: 5px;
			text-decoration: none;
			background: #f2f2f2;
			font-size: 12pt;
			cursor: pointer;
		}

		.button:hover {
			background: #e6e6ff;
		}
		
	</style>
</head>

<body>
	<div th:text="${filter.getDateRange()}"></div>
	<div th:each="operation : ${operations}">
		<a th:href="@{/operations/}+${operation.getType().name().toLowerCase()}+'/'+${operation.getId()}"
		th:text="${operation}" class="button"></a>
	</div>
	<a th:href="@{/}" class="button">Главная страница</a>
</body>

</html>